node_modules/
.env
build/
cypress.env.json
.storybook/dist
.vscode
.DS_Store
coverage/
.idea/
yarn-error.log
.cache
*.swp
cypress/screenshots
cypress/videos
*.orig
*~
*#
.log
.#*
**/*.aab

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
